@import"reset";
@import"settings";
@import"bourbon";
@import"neat";
html, body {
    height: 100%;
    font-family:$helvetica;
}
body {
	background-color:#fbfbfb;
}
label {
    font-size: 0.6rem;
    font-weight: bold;
    color: #b6b6b6;
    text-transform: uppercase;
}
.logo{
	font-size:1.5em;
}
.button{
	@include button;
	text-align: center;
}