@import"reset";
@import"settings";
@import"bourbon";
@import"neat";
html, body {
    height: 100%;
    font-family:$helvetica;
}
body {
	background-color:#fbfbfb;
}
.logo{
	font-size:1.5em;
}
.button{
	@include button;
	text-align: center;
}