@import"reset";
@import"settings";
@import"bourbon";
@import"neat";
html, body {
    height: 100%;
    font-family:$helvetica;
    font-size: 62.5%;
}
body {
	background-color:#fbfbfb;
    font-size:1.6rem;
}
label {
    font: bold 1.1rem $georgia;
    color: #b6b6b6;
    text-transform: uppercase;
}
.logo{
	font-size:2.4rem;
}
.text-center{
    text-align: center;
}