@import "compass/css3/transition",
        "compass/css3/transform";

.buttons-wrap {
    .button, button{
        margin-left:10px;
        margin-right:10px;
    }
}

.topbarNavDropDown.topbarNavDropDown {
    clip:auto;
    transform-origin: top;
}

.topbarNavDropDown-enter, .topbarNavDropDown-leave{
    @include transition(all 0.2s ease);    
}    

.topbarNavDropDown-enter, .topbarNavDropDown-leave.topbarNavDropDown-leave-active {
    transform:scaleY(0.5);
    opacity:0;
}

.topbarNavDropDown-enter.topbarNavDropDown-enter-active, .topbarNavDropDown-leave {
    transform:scaleY(1);
    opacity:1;
}


/*transition*/
.fadeInOut-enter, .fadeInOut-leave{
    @include transition(opacity 0.5s);
}
.fadeInOut-enter, .fadeInOut-leave.fadeInOut-leave-active{
    opacity:0;
}

.fadeInOut-enter.fadeInOut-enter-active, .fadeInOut-leave{
    opacity:1;
}

.scaleInOut-enter, .scaleInOut-leave{
    @include transition(transform 0.2s ease);
}
.scaleInOut-enter, .scaleInOut-leave.scaleInOut-leave-active{
    @include transform(scale(0.8));
}

.scaleInOut-enter.scaleInOut-enter-active, .scaleInOut-leave{
    @include transform(scale(1));
}
