@import "compass/css3/transition";

.buttons-wrap {
    .button, button{
        margin-left:10px;
        margin-right:10px;
    }
}

.topbarNavDropDown.topbarNavDropDown {
    clip:auto;
    transform-origin: top;
}

.topbarNavDropDown-enter, .topbarNavDropDown-leave{
    @include transition(all 0.2s ease);    
}    

.topbarNavDropDown-enter, .topbarNavDropDown-leave.topbarNavDropDown-leave-active {
    transform:scaleY(0.5);
    opacity:0;
}

.topbarNavDropDown-enter.topbarNavDropDown-enter-active, .topbarNavDropDown-leave {
    transform:scaleY(1);
    opacity:1;
}
