/* app/scss/post */

$image_placeholder_background: #e0e0e0;
$image_placeholder_margin: rem-calc(5) auto;

.post-edit-image-uploader {
    background-color: $image_placeholder_background;
    margin: $image_placeholder_margin;
    &.dragover {
        background-color: red;
    }
}

.post-edit-panel-image {
    @extend .post-edit-image-uploader;
    height: 160px;
    width: 350px;
}

.post-edit-side-image {
    @extend .post-edit-image-uploader;
    width: 320px;
    height: 320px;
}
