@import"bourbon";
@import"neat";
@import"../../../assets/fonts/flaticon/flaticon.css";
@import"styles/settings";
@import"styles/components/dropdown";
$fa-font-path:"../../../../node_modules/font-awesome/fonts";
@import"font-awesome";
$site-name-size: 2.4rem;
.root {
    overflow: auto;
    height: 100%;
    position: relative;
    @include calc(padding-top, '2% + 4rem');
}
.rootHeader {
    @include padding(1% null);
    @include fill-parent();
    @include transition(transform 0.3s ease-out);
    background-color: #fff;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(100, 100, 100, 0.8);
    h1 {
        margin: 0;
        display: inline-block;
        line-height: 3.6rem;
    }
    &.hide {
        @include transform(translateY(-8rem));
    }
    header {
        @include outer-container();
    }
}
.rootHeaderLogo {
    display: inline-block;
    float: left;
}
.rootHeaderDropdown {
    display: inline-block;
    float: right;
    position: relative;
    .dropdownButton {
        @extend .fa;
        @extend .fa-cog;
        opacity: 0.5;
        font-size: 2.4rem;
        line-height: 3.5rem;
        width: 8rem;
        height: 4rem;
        text-align: right;
    }
    .dropdownMenu {
        right: -2.8rem;
        top: 4rem;
        font-size: 1.4rem;
        transition: opacity .3s ease-in;
    }
    .dropdownMenu-enter, .dropdownMenu-leave.dropdownMenu-leave-active {
        opacity: 0.01;
    }
    .dropdownMenu-enter-active, .dropdownMenu-leave {
        opacity: 1;
    }
}
.rootMain {
    @include outer-container();
    @include calc(padding-bottom, '2% + 4rem');
    min-height: 100%;
}
.rootFooter {
    @include pad(1% default);
    @include fill-parent();
    text-align: center;
    color: #aaa;
    font-size: 1.2rem;
    @include calc(margin-top, '-2% - 4rem + 1.4rem');
}
