@import"styles/functions";
.modalContainer, .modalOverlay, .modalContent {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modalContainer {
    position: fixed;
    z-index: z(modal);
}
.modalOverlay, .modalContent {
    position: absolute;
}
.modalContent {
    overflow: auto;
}
.modalOverlay{
	background-color:rgba(0, 0, 0, 0.2);
}