@import"bourbon";
@import"neat";
$fa-font-path:"../../../node_modules/font-awesome/fonts";
@import"font-awesome";
$sidebarWidth:280px;
$divider: solid 1px #d9d9d9;
$navBackColor:#4d5055;
$sidebarTransition:transform 0.2s ease;
$sideBackColor:#2d323b;
.admin {
    width: 100%;
    overflow: hidden;
    padding-top: 3em;
    &>aside {
        width: $sidebarWidth;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: $sideBackColor;
        color: #eee;
        @include transition($sidebarTransition);
        &.hide {
            @include transform(translateX(-$sidebarWidth));
        }
        a {
            display: block;
            padding: 1em;
        }
        .logo {
            text-align: center;
        }
        li a {
            background-color: $navBackColor;
        }
    }
}
.adminMain, .adminHeader {
    @include transition($sidebarTransition);
    &.shift {
        @include transform(translateX($sidebarWidth));
    }
}
.adminSidebarNav {
    .menuItemContent {
        height: 1px;
    }
}
.adminSidebarToggler {
    @extend .fa;
    @extend .fa-bars;
    cursor: pointer;
}
.adminHeader {
    position: fixed;
    background-color: $navBackColor;
    top: 0;
    width: 100%;
    padding: 0.5em;
    z-index: 9;
    color: #ececec;
}
.adminMenuItemContent{
    @include transition(height 0.2s ease);
}
// // a/new, a/edit/:id
.adminPost {
    &>* {
        @include pad(10px);
    }
    &>*:nth-child(1) {
        border-bottom: $divider;
    }
}
.adminPostEdit, .adminPostView {
    @include span-columns(12 of 24, block-collapse);
}
.adminPostView {
    border-left: $divider;
    @include media(max-width 800px) {
        display: none;
    }
}
.adminPostTitle, .adminPostBody {
    @include fill-parent();
    @include margin(0.5em null null null);
    background: transparent;
}
.adminPostTitle {
    border-width: 0;
    font-size: 18px;
    // @include selection{
    //     border:none;
    // }
}
.adminPostBody {
    min-height: 1200px;
    font-size: 16px;
}
.adminPostLabel {
    font-size: 0.6em;
    font-weight: bold;
    color: #b6b6b6;
    text-transform: uppercase;
}
