@import"bourbon";
@import"neat";
@import"styles/settings";
$fa-font-path:"../../../node_modules/font-awesome/fonts";
@import"font-awesome";
$sidebarWidth:280px;
$divider: solid 1px #d9d9d9;
$sidebarTransition:transform 0.2s ease;
$navSecondaryBackColor:#4d5055;
$navPrimaryBackColor:#2d323b;
.admin {
    width: 100%;
    overflow: hidden;
    padding-top: 3em;
    &>aside {
        width: $sidebarWidth;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: $navPrimaryBackColor;
        color: #eee;
        @include transition($sidebarTransition);
        &.hide {
            @include transform(translateX(-$sidebarWidth));
        }
        .logo {
            text-align: center;
        }
        li a {
            background-color: $navSecondaryBackColor;
        }
    }
}
.adminLogo {
    padding: 3rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    a {
        display: inline-block;
    }
}
.adminMain, .adminHeader {
    @include transition($sidebarTransition);
    padding: 0 2%;
    &.shift {
        @include transform(translateX($sidebarWidth));
    }
}
.adminSidebarNav {
    a {
        display: block;
        padding: 1em;
    }
}
.adminMenuItemContent {
    height: 1px;
}
.adminSidebarButtonComposeWrap {
    padding: 15px;
}
.adminSidebarButton {
    text-transform: uppercase;
    width: 100%;
}
.adminSidebarButtonCompose {
    @include padding(1em null 1em null);
}
.adminSidebarToggler {
    @extend .fa;
    @extend .fa-bars;
    cursor: pointer;
}
.adminHeader {
    position: fixed;
    background-color: $navSecondaryBackColor;
    top: 0;
    width: 100%;
    font-size: 1.125rem;
    height: 2em;
    line-height: 2em;
    z-index: 9;
    color: #ececec;
}
.adminHeaderNav {
    float: right;
    display: inline-block;
    >li {}
}
.adminHeaderNavDropdown {
    float: left;
    cursor: pointer;
    min-width: 90px;
    font-size: 1rem;
    text-align: center;
    position: relative;
    input[type=text] {
        @include fill-parent();
    }
    .dropdownTitle {
        i {
            @extend .fa;
            margin-right: 10px;
            font-size: 1.125rem;
            &.more {
                @extend .fa-cog;
            }
            &.share {
                @extend .fa-share-alt-square;
            }
            &.publish {
                @extend .fa-cloud-upload;
            }
            &.preview {
                @extend .fa-eye;
            }
        }
        &.active, &:hover .adminHeaderNavDropdownTitle {
            background-color: $navPrimaryBackColor;
        }
    }
    .dropdownBody {
        position: absolute;
        right: 0;
        // display: none;
        background-color: $navPrimaryBackColor;
        min-width: 300px;
        text-align: left;
        >* {
            padding: 1em;
        }
        &.more {
            width: 600px;
        }
    }
}
.adminMenuItemContent {
    @include transition(height 0.2s ease);
}
// a/new, a/edit/:id
.adminPost {
    &>* {
        @include pad(2% 0 2% 0);
    }
    &>*:nth-child(1) {
        border-bottom: $divider;
    }
}
.adminPostEdit, .adminPostView {
    @include media($large, 24) {
        @include span-columns(12 of 24);
    }
}
.adminPostView {
    border-left: $divider;
    @include media($medium) {
        display: none;
    }
    @include media($large) {
        padding-left: flex-gutter(24);
    }
}
.adminPostTitle, .adminPostBody {
    @include fill-parent();
    @include margin(0.5em null null null);
    background: transparent;
    line-height: 1.5em;
}
.adminPostBody.ace_editor {
    line-height: 1.5em;
}
.adminPostTitle {
    border-width: 0;
    font-size: 18px;
}
.adminPostBody {
    min-height: 1200px;
    font-size: 16px;
}
