@import"bourbon";
@import"neat";
@import"styles/settings";
@import"styles/functions";
$fa-font-path:"../../../node_modules/font-awesome/fonts";
@import"font-awesome";
@import"../../assets/fonts/flaticon/flaticon.css";
$sidebarWidth:280px;
$sidebarTransition:transform 0.2s ease;
$navSecondaryBackColor:#4d5055;
$navPrimaryBackColor:#2d323b;
.admin {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 3.8rem;
    &>aside {
        width: $sidebarWidth;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: $navPrimaryBackColor;
        color: #eee;
        @include transition($sidebarTransition);
        &.hide {
            @include transform(translateX(-$sidebarWidth));
        }
        .logo {
            text-align: center;
        }
    }
    [class*="Button"] {
        font-weight: normal;
    }
    &.blur {
        @include prefixer( filter, blur(3px), webkit moz spec ms o);
    }
}
.adminLogo {
    padding: 3rem 0 2rem 0;
    text-align: center;
    a {
        display: inline-block;
    }
}
.adminMain, .adminHeader {
    @include transition($sidebarTransition);
    @include padding(null 1% null 1%);
    &.shift {
        @include transform(translateX($sidebarWidth));
    }
}
.adminSidebarNav {
    a, .adminSidebarButton {
        display: block;
        padding: 1.6rem;
    }
}
.adminMenuItemContent {
    height: 1px;
    overflow: auto;
}
.adminSidebarButtonComposeWrap {
    padding: 1.5rem;
}
.adminSidebarButton {
    @include fill-parent();
    text-transform: uppercase;
    background-color: $navSecondaryBackColor;
    border: none;
    color: inherit;
    font-size: inherit;
    position: relative;
    li & {
        text-align: left;
    }
    [class^="flaticon-"] {
        position: absolute;
        right: 1rem;
        top: 1.2rem;
    }
}
.adminComposeButton {
    @include button();
    @include padding(1.6rem null 1.6rem null);
    @include fill-parent();
    text-align: center;
    text-transform: uppercase;
}
.adminUploadButton {
    @include button();
}
.adminDeleteButton {
    @include button(#bb2323);
}
.adminLogoutButton {
    @include button(#5f7f96);
    width: 50%;
    margin: 2rem auto;
    display: block;
}
.adminSidebarToggler {
    @extend .fa;
    @extend .fa-bars;
    cursor: pointer;
    font-size: 1.6rem;
    float: left;
    line-height: 3.8rem;
    height: 3.8rem
}
.adminSidebarFooter {
    @include padding(1rem null 1rem null);
}
.adminHeader {
    position: fixed;
    background-color: $navSecondaryBackColor;
    top: 0;
    z-index: z('adminHeader');
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    color: #ececec;
    text-align: center;
}
.adminHeaderNotification {
    display: inline-block;
    min-width: 10rem;
    font-size: 1.4rem;
    padding: 0 0.4rem;
    height: 2.8rem;
    line-height: 2.8rem;
    position: relative;
    top: -0.5rem;
    left: 6%;
    @include border-bottom-radius(0.5rem);
    &.info {
        background-color: #b39c00;
    }
    &.error {
        background-color: #fbaca8;
        color: #5a0303;
    }
}
.adminHeaderNav {
    float: right;
    display: inline-block;
}
.adminHeaderNavDropdown {
    float: left;
    min-width: 6rem;
    text-align: center;
    position: relative;
    input[type=text], textarea {
        @include fill-parent();
    }
    &.active, &:hover .dropdownTitle {
        background-color: $navPrimaryBackColor;
    }
    .dropdownTitle {
        cursor: pointer;
        font-size: 1.6rem;
        @include padding(null 1rem null 1rem);
        @include box-sizing(content-box);
        .fa {
            @include box-sizing(content-box);
            margin-right: 1rem;
        }
        &.more .fa {
            @extend .fa-cog;
        }
        &.share .fa {
            @extend .fa-share-alt-square;
        }
        &.publish .fa {
            @extend .fa-cloud-upload;
        }
        &.withdraw .fa {
            @extend .fa-cloud-download;
        }
        &.preview .fa {
            @extend .fa-eye;
        }
        @include media($medium) {
            padding: 0;
            >span {
                display: none;
            }
            .fa {
                margin-right: 0;
            }
        }
    }
    .dropdownBody {
        position: absolute;
        right: 0;
        // display: none;
        background-color: $navPrimaryBackColor;
        min-width: 300px;
        text-align: left;
        box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.5);
        >* {
            padding: 2%;
        }
        &.more {
            width: 50rem;
        }
        button {
            position: relative;
            padding-left: 4rem;
            margin: 1rem;
            [class^="flaticon-"] {
                position: absolute;
                left: -0.8rem;
                top: 0.5rem;
            }
        }
    }
}
.adminHeaderAttachments {
    font-size: 1.4rem;
    >* {
        @include row();
        >* {
            line-height: 2rem;
            height: 2rem;
        }
    }
    .fileType, .fileDelete, .fileCopy {
        @extend .fa;
        cursor: pointer;
        line-height: 2rem;
    }
    .fileType {
        @include span-columns(1 of 12);
        @extend .fa-file-o;
        cursor: default;
        &.image {
            @extend .fa-file-image-o;
        }
        &.word {
            @extend .fa-file-word-o;
        }
        &.pdf {
            @extend .fa-file-pdf-o;
        }
        &.text {
            @extend .fa-file-text-o;
        }
    }
    .fileName {
        @include span-columns(9 of 12);
        @include ellipsis();
    }
    .fileCommands {
        @include span-columns(2 of 12);
        text-align: right;
    }
    .fileDelete {
        @extend .fa-trash;
        margin: auto 0.5rem;
    }
    .fileCopy {
        @extend .fa-clipboard;
        margin: auto 0.5rem;
    }
}
.adminMenuItemContent {
    @include transition(height 0.2s ease);
}
.adminPostModal {
    @include outer-container();
    @include pad();
    margin: flex-gutter() auto;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
    background-color: #fff;
}
.adminPostModalClose {
    @extend .fa;
    @extend .fa-close;
    cursor: pointer;
    float: right;
}
