@import"bourbon";
@import"neat";
.login {
    margin: 15rem auto auto;
    width: 30%;
    .error {
        color: #c6311c;
        display:block;
        margin-top:1rem;
        text-align: right;
        text-align: end;
        font-size: 1.4rem;
    }
}
.loginForm {
    @include prefixer(box-shadow, 0 0 10px rgba(0, 0, 0, 0.5), webkit moz spec);
    border-radius: 1rem;
    >* {
        padding: 1rem;
    }
    label {
        margin-bottom: 1rem;
        display: block;
    }
    [type="text"], [type="password"] {
        @include fill-parent();
    }
    button, [type="submit"] {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0 2%;
        min-width: 8rem;
        color: #ececec;
    }
}
.loginButtonLogin {
    @include button(#5f7f96);
}
.loginButtonCancel {
    @include button(#8e9091);
}
