@import"bourbon";
@import"neat";
.login{
    margin: 15rem auto auto;
    width:30%;
}
.loginBox {
    @include prefixer(box-shadow, 0 0 36px 0px rgba(0, 0, 0, 0.75), webkit moz spec);
    border-radius: 1rem;
    >* {
        padding: 1rem;
    }
    label {
        margin-bottom: 1rem;
        display: block;
    }
    [type="text"], [type="password"] {
        @include fill-parent();
    }
    button {
        font-size: 1.2rem;
        font-weight: normal;
        margin:0 2%;
        min-width:8rem;
    }
}
.loginButtonLogin {
    @include button(#5f7f96);
    color: #ececec;
}
.loginButtonCancel{
    @include button(#8e9091);
    color: #ececec;
}
