@import"bourbon";
@import"neat";
$divider: solid 1px #d9d9d9;
@import"styles/settings";
.post {
    @include pad(default 0 default 0);
    &.edit {
        &>* {
            @include padding(1% null 1% null);
        }
        &>*:nth-child(1) {
            border-bottom: $divider;
        }
        .postEdit, .postPreview {
            @include media($large, 24) {
                @include span-columns(12 of 24);
            }
        }
        .postPreview {
            border-left: $divider;
            @include media($medium) {
                display: none;
            }
            @include media($large) {
                padding-left: flex-gutter(24);
            }
        }
        .postTitle, .postBody {
            @include fill-parent();
            @include margin(1% null 1% null);
            background: transparent;
            line-height: 1.5em;
        }
        .postTitle {
            border-width: 0;
            font-size: 2rem;
        }
        .postBody {
            line-height: 1.6em;
            min-height: 1200px;
            font-size: 1.6rem;
            &.ace_editor {
                line-height: inherit;
            }
        }
    }
}
.postList {
    &.compact {
        >.active {
            color: #59a5db;
        }
    }
    &.simple {}
}
.postListItem {
    @include pad(default 0 default 0);
    &.featured .postListItemTitle {
        @include span-columns(9);
    }
}
.postListItemCreatedAt {
    font-size: 1.2rem;
}
.postListItemFeature {
    @include span-columns(3);
    height: golden-ratio(grid-width(3), -1);
    margin-top: 1%;
    background-repeat: no-repeat;
    background-size: cover;
}
.postListItemTitle {
    margin-top: 1%;
    a {
        display: block;
    }
    h2 {} p {
        font-weight: 200;
    }
}
