@import"bourbon";
@import"neat";
$divider: solid 1px #d9d9d9;
@import"styles/settings";
.post {
    @include row();
    &.edit {
        &>* {
            @include padding(1% null);
        }
        &>*:nth-child(1) {
            border-bottom: $divider;
        }
        .postEdit, .postPreview {
            @include media($large, 24) {
                @include span-columns(12 of 24);
            }
        }
        .postPreview {
            border-left: $divider;
            @include media($medium) {
                display: none;
            }
            @include media($large) {
                padding-left: flex-gutter(24);
            }
        }
        .postTitle, .postBody {
            @include fill-parent();
            @include margin(1% null 1% null);
            background: transparent;
        }
        .postTitle {
            border-width: 0;
            font-size: 2.6rem;
            font-family: Lora $georgia;
        }
        .postBody {
            min-height: 1200px;
            &.ace_editor {
                line-height: inherit;
            }
        }
    }
    &.view {
        .postTitle, .postBody {
            @include padding(flex-gutter() null null null);
            @include clearfix;
        }
    }
    &.edit, &.view {
        h1, h2, h3 {
            font-family: inherit;
        }
        ul, ol {
            margin-left: 2rem;
            li {
                display: list-item;
                margin:1.4rem;
            }
        }

        a{
            color:#1D59A3;
        }
    }
}
.postCreatedAt {
    font-size: 1.4rem;
    .postList & {
        display: block;
    }
}
.postList {
    &.compact {
        >.active {
            color: #59a5db;
        }
    }
    &.simple {}
}
.postListItem {
    @include pad(default 0 default 0);
    a {
        @include row();
        opacity: 0.95;
    }
    &.featured .postListItemTitle {
        @include span-columns(9);
    }
    h2 {
        @include margin(1% null 1% null);
    }
}
.postListItemFeature {
    @include span-columns(3);
    margin-top: 1%;
    height: golden-ratio(grid-width(3), -1);
    background-repeat: no-repeat;
    background-size: cover;
}
